/* General Style */

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-blue{
    background: #0077C5;
    border: 1px solid #0077C5;
    border-radius: 4px;
    color: #ffffff;
    text-transform: capitalize;
}

/* header */
.header {
    padding: 10px 30px;
    display: flex;
    justify-content: flex-end;
}
.account-info{
    font-size: 12px;
}
.account-check {
    padding: 5px;
}
.forgot-password{
    text-decoration: none;
    color: #0077C5;
}
.signup-btn{
    padding: 8px 20px;
    height: 38px;
}
/* Form */

.logo-wrapper {
    width: 300px;
    display: flex;  
    justify-content: space-between;      
}

.logo-icons {
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;    
    padding: 5px 5px;
}

.logo-icons img {
    height: inherit;
    width: inherit;
}

/* Footer */